<header class="header">
  <div class="header-container">
    <!-- Logo -->
    <div class="logo">
      <a routerLink="/">
        <img src="https://res.cloudinary.com/dozzcc1l1/image/upload/v1741903792/ltn2g3saehpqa8aq2qs9.png" alt="Wellquem Logo" class="w-1/2">
      </a>
    </div>

    <!-- Navigation -->
    <nav class="main-nav">
      <ul>
        <li *ngFor="let item of navigationItems">
          <a [routerLink]="item.route">
            <i [class]="item.icon + ' text-blue-500'"></i>
            {{ item.label }}
          </a>
        </li>
      </ul>
    </nav>

    <!-- Mobile Menu Button -->
    <div class="mobile-menu" (click)="toggleMenu()">
      <i class="fas fa-bars"></i>
    </div>
  </div>

  <!-- Mobile Navigation -->
  <div class="mobile-nav" *ngIf="isMenuOpen">
    <ul>
      <li *ngFor="let item of navigationItems">
        <a [routerLink]="item.route">
          <i [class]="item.icon + ' text-blue-500'"></i>
          {{ item.label }}
        </a>
      </li>
    </ul>
  </div>
</header>
