<div class="about-container pt-[40px]">
  <h2>¡Bienvenidos a WELLQUEM DE COLOMBIA!</h2>
  <p>38 Años de Excelencia en Mantenimiento Industrial</p>
  
  <div class="about-content">
    <div class="about-item card">
      <i class="fas fa-cogs"></i>
      <div class="card-content">
        <h4>Innovación y Versatilidad</h4>
        <p>En WELLQUEM, nos enorgullece ofrecer soluciones químicas versátiles que abordan una amplia gama de necesidades industriales.</p>
      </div>
    </div>
    <div class="about-item card">
      <i class="fas fa-leaf"></i>
      <div class="card-content">
        <h4>Compromiso con el Medio Ambiente</h4>
        <p>Creemos en un futuro sostenible. Por eso, nuestros productos están diseñados para ser biodegradables.</p>
      </div>
    </div>
    <div class="about-item card">
      <i class="fas fa-shield-alt"></i>
      <div class="card-content">
        <h4>Impacto en la Seguridad</h4>
        <p>La seguridad es primordial. Nuestros productos no solo protegen la vida de nuestros equipos, sino que también mejoran las condiciones de trabajo al reducir riesgos.</p>
      </div>
    </div>
  </div>

  <h3>Productos de calidad</h3>
  <p>
    Cumpliendo con toda la normatividad ambiental. Todo esto soportado por la implementación y seguimiento del cumplimiento de los requisitos de nuestros sistemas de Gestión Integral de Calidad y Ambiente.
  </p>
</div> 