.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

h1 {
  color: #333;
}

p {
  color: #666;
}

.category-separator {
  height: 2px; /* Altura de la línea */
  background-color: #ccc; /* Color de la línea */
  margin: 20px 0; /* Espaciado arriba y abajo */
} 




.asesorias {
  padding: 40px 0;

  .asesorias-grid {
    display: flex;
    justify-content: space-around; // Espaciado entre elementos
    margin-bottom: 20px;

    .asesoria-item {
      text-align: center;
      max-width: 200px; // Ancho máximo de cada tarjeta
      margin: 10px;

      i {
        font-size: 2rem; // Tamaño del ícono
        color: #ff4444; // Color del ícono
      }

      h3 {
        font-size: 1.2rem; // Tamaño del título
        margin: 10px 0; // Espaciado vertical
      }

      p {
        font-size: 0.9rem; // Tamaño del texto
      }
    }
  }

  .asesor-info {
    text-align: center;
    margin-top: 30px;

    .badge {
      display: flex;
      align-items: center; // Alinear imagen y texto
      justify-content: center; // Centrar contenido
      background-color: #f0f0f0; // Fondo suave
      border-radius: 8px; // Bordes redondeados
      padding: 10px;
      margin: 20px auto; // Centrar el badge
      max-width: 400px; // Ancho máximo del badge

      .asesor-image {
        width: 80px; // Ancho de la imagen
        height: 80px; // Altura de la imagen
        border-radius: 50%; // Hacer la imagen circular
        margin-right: 10px; // Espaciado entre imagen y texto
      }

      .asesor-details {
        text-align: left; // Alinear texto a la izquierda

        h4 {
          margin: 0; // Sin margen
          font-size: 1.1rem; // Tamaño del nombre
        }

        p {
          margin: 0; // Sin margen
          font-size: 0.9rem; // Tamaño del título
        }
      }
    }
  }
}

.top-products {
  padding: 4rem 0;
  background-color: #f8f9fa;
}


.category-section {
  padding: 4rem 0;

  .categories-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2rem;
    margin-bottom: 4rem;
  }
}

.category-info {
  margin-top: 2rem;
  padding: 1.5rem;
  background-color: #f9f9f9; // Fondo claro
  border-radius: 8px; // Bordes redondeados
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); // Sombra sutil
  height: 100%;
  h3 {
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 1rem;
  }

  .category-description {
    margin-bottom: 1.5rem;
    padding: 1rem; // Espaciado interno
    border-left: 4px solid #063C88; // Línea de color a la izquierda

    h4 {
      font-size: 1.5rem;
      color: #063C88; // Color del título de la categoría
      margin-bottom: 0.5rem;
      display: flex;
      align-items: center; // Alinear ícono y texto
      
      i {
        margin-right: 0.5rem; // Espaciado entre ícono y texto
      }
    }

    p {
      font-size: 1rem;
      color: #666;
    }
  }
}


