<footer class="footer">
  <div class="footer-container">
   
    <!-- Footer bottom -->
    <div class="footer-bottom">
      <p>&copy; {{ currentYear }} - Productos Químicos Wellquem de Colombia S.A.S.</p>
      <div class="social-links">
        <a href="https://www.facebook.com/wellquemdecolombiaSAS/" target="_blank"><i class="fab fa-facebook-f"></i></a>
        <a href="https://www.youtube.com/@wellquemdecolombias.a.s2023" target="_blank"><i class="fab fa-youtube"></i></a>
        <a href="https://www.linkedin.com/in/wellquem-de-colombia-s-a-s-768a6a238/?fbclid=IwZXh0bgNhZW0CMTAAAR1PBcSlHDbtuk3Y2odumBn0VYfT31iYoZ5jyILbObHoSq6iGrYpy41uNDI_aem_K-TUgdRYQtP8zVKncXI5dQ" target="_blank"><i class="fab fa-linkedin"></i></a>
        <a href="https://www.instagram.com/wellquemventas/" target="_blank"><i class="fab fa-instagram"></i></a>
      </div>
    </div>
  </div>
</footer>
