<footer class="footer">
  <div class="footer-container">
   
    <!-- Footer bottom -->
    <div class="footer-bottom">
      <p>&copy; {{ currentYear }} - Productos Químicos Wellquem de Colombia S.A.S.</p>
      <div class="contact-info">
        <p>Email: <a href="mailto:ventas.wellquem@gmail.com">ventas.wellquem&#64;gmail.com</a></p>
        <p>Teléfono: <a href="tel:+573183308650">+57 318 3308650</a></p>
      </div>
      <div class="social-links">
        <a href="https://www.facebook.com/share/1BNKm6gnaD/" target="_blank"><i class="fab fa-facebook-f fa-2x"></i></a>
        <a href="https://youtube.com/@ventaswellquemdecolombias.1604?si=ipdZ8I0dXbrc45e_" target="_blank"><i class="fab fa-youtube fa-2x"></i></a>
        <a href="https://www.instagram.com/wellquemventas/" target="_blank"><i class="fab fa-instagram fa-2x"></i></a>
      </div>
    </div>
  </div>
</footer>
