<div class="contact-container">
  <h2>Ponte en contacto</h2>
  <p>¡Contáctanos ahora para una asesoría personalizada!</p>
  
  <div class="contact-details">
    <div class="contact-item">
      <i class="fas fa-phone"></i>
      <p><strong>Teléfono:</strong> 318 3308650</p>
    </div>
    <div class="contact-item">
      <i class="fas fa-envelope"></i>
      <p><strong>Email:</strong> <a href="mailto:ventas.wellquem@gmail.com">ventas.wellquem&#64;gmail.com</a></p>
    </div>
    <div class="contact-item">
      <i class="fas fa-map-marker-alt"></i>
      <p><strong>Dirección:</strong> Km 2.5, vía Siberia, Portos Sabana 80 Bodega 130, Cota, Cundinamarca, Colombia</p>
    </div>
    <div class="contact-item">
      <i class="fas fa-clock"></i>
      <p><strong>Horario:</strong> Lun - Vie: 7:30am - 5pm</p>
    </div>
  </div>

  <div class="map-container">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15904.390686198589!2d-74.139074!3d4.753056!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f839c78aec595%3A0x50a0f0dd2891d4e5!2sParque%20Industrial%20Portos%20Sabana%2080!5e0!3m2!1ses-419!2sus!4v1741904375529!5m2!1ses-419!2sus"
     width="600" 
     height="450" 
     style="border:0; width: 100%;" 
     allowfullscreen="" 
     loading="lazy" 
     referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
</div> 