<section class="banner">
  <div class="banner-content">
    <h1>Bienvenido a Wellquem ventas</h1>
    <p>Descubre cómo WELLQUEM puede transformar tus operaciones con productos químicos de calidad y un enfoque ambiental responsable.</p>
    <a href="/productos" class="btn">Ver Productos</a>
  </div>
</section>

<section class="asesorias">
  <div class="container">
    <h2 class="section-title mt-5">Asesoría personalizada a tu alcance</h2>
    <p>Ofrecemos una amplia variedad de productos de alta calidad. ¡Contáctanos hoy mismo! Y descubre cómo podemos ayudarte en el mantenimiento y mayor vida útil de tus equipos e instalaciones.</p>
    
    <div class="asesorias-grid mt-10">
      <div class="asesoria-item">
        <i class="fas fa-lightbulb"></i>
        <h3>Diagnóstico de Problemas</h3>
        <p>Identificamos y solucionamos problemas específicos de tu industria.</p>
      </div>
      <div class="asesoria-item">
        <i class="fas fa-cogs"></i>
        <h3>Optimización de Procesos</h3>
        <p>Mejoramos la eficiencia y reducimos costos.</p>
      </div>
      <div class="asesoria-item">
        <i class="fas fa-chart-line"></i> 
        <h3>Mejora Continua</h3>
        <p>Estamos comprometidos con tu éxito a largo plazo.</p>
      </div>
    </div>

    <div class="asesor-info">
      <div class="badge">
        <img src="https://res.cloudinary.com/dozzcc1l1/image/upload/v1741903792/ltn2g3saehpqa8aq2qs9.png" alt="Asesor" class="asesor-image">
        <div class="asesor-details">
          <h4><strong>Yeni Garcia</strong></h4>
          <p>Asesora de Ventas</p>
        </div>
      </div>
      <div class="contact-item mt-5">
        <i class="fas fa-phone" style="color: #063C88;"></i>
        <p>+57 318 3308650</p>
      </div>
      <div class="contact-item mt-5">
        <i class="fas fa-envelope" style="color: #063C88;"></i>
        <p> <a href="mailto:ventas.wellquem@gmail.com">ventas.wellquem&#64;gmail.com</a></p>
      </div>
    </div>
  </div>
</section>



<section class="category-section">
  <div class="container">
    <h2 class="section-title mt-5">Categorías de Productos</h2>
    <div class="categories-grid">
      <app-category-card categoryName="Productos Especializados" iconClass="fas fa-cogs"></app-category-card>
      <app-category-card categoryName="Productos Diseñados para Concreto" iconClass="fas fa-tools"></app-category-card>
      <app-category-card categoryName="Aerosoles Industriales" iconClass="fas fa-spray-can"></app-category-card>
      <app-category-card categoryName="Tratamientos para Aguas de Calderas y Sistemas de Enfriamiento" iconClass="fas fa-water"></app-category-card>
      <app-category-card categoryName="Desengrasantes Industriales" iconClass="fas fa-broom"></app-category-card>
      <app-category-card categoryName="Limpieza y Desinfección" iconClass="fas fa-shield-alt"></app-category-card>
    </div>
    
    <!-- Información de categorías -->
    <div class="category-info">
      <h3>Portafolio de productos</h3>
      <div class="category-description">
        <h4><i class="fas fa-cogs"></i> Productos Especializados</h4>
        <p>Descripción de productos especializados.</p>
      </div>
      <div class="category-description">
        <h4><i class="fas fa-tools"></i> Productos Diseñados para Concreto</h4>
        <p>Descripción de productos diseñados para concreto.</p>
      </div>
      <div class="category-description">
        <h4><i class="fas fa-spray-can"></i> Aerosoles Industriales</h4>
        <p>Descripción de aerosoles industriales.</p>
      </div>
      <div class="category-description">
        <h4><i class="fas fa-water"></i> Tratamientos para Aguas de Calderas</h4>
        <p>Descripción de tratamientos para aguas de calderas.</p>
      </div>
      <div class="category-description">
        <h4><i class="fas fa-broom"></i> Desengrasantes Industriales</h4>
        <p>Descripción de desengrasantes industriales.</p>
      </div>
      <div class="category-description">
        <h4><i class="fas fa-soap"></i> Limpiadores Industriales</h4>
        <p>Descripción de limpiadores industriales.</p>
      </div>
      <div class="category-description">
        <h4><i class="fas fa-shield-alt"></i> Limpieza y Desinfección</h4>
        <p>Descripción de limpieza y desinfección.</p>
      </div>
    </div>
  </div>
</section>

<section class="top-products">
  <div class="container">
    <h2 class="section-title mt-5">Productos Destacados</h2>
    
    <div class="products-grid">
      <app-product-card
        *ngFor="let product of topProducts"
        [product]="product">
      </app-product-card>
    </div>

  </div>
</section> 

<section class="features">
  <div class="container">
    <h2 class="section-title mt-5">Características Destacadas</h2>
    <div class="features-grid">
      <div class="feature-item">
        <i class="fas fa-truck"></i>
        <h3>Envío Gratis</h3>
        <p>En pedidos superiores a $450.000</p>
      </div>
      <div class="feature-item">
        <i class="fas fa-star"></i>
        <h3>Calidad Garantizada</h3>
        <p>Productos de alta calidad para su satisfacción.</p>
      </div>
      <div class="feature-item">
        <i class="fas fa-headset"></i>
        <h3>Atención al Cliente</h3>
        <p>Soporte disponible para resolver tus dudas.</p>
      </div>
    </div>
  </div>
</section>


<!-- <section class="illustration mt-5">
  <div class="container">
    <h2 class="section-title mt-5">Nuestros Productos</h2>
    <div class="illustration-content">
      <img src="https://img.freepik.com/vector-gratis/ilustracion-concepto-biotecnologia-plana_23-2148892456.jpg?t=st=1741891418~exp=1741895018~hmac=a4d0854d149313a43d3d2c520a91de26c80b980c692cbfa8e9c0c52c393dd3b3&w=740"
       alt="Ilustración" class="illustration-image">
      <div class="overlay">
        <h2>Descubre Nuestros Productos</h2>
        <p>Calidad y efectividad en cada producto que ofrecemos.</p>
        <a href="/productos" class="btn">Ver Productos</a>
      </div>
    </div>
  </div>
</section> -->

